# ==================== AUTH SERVICE ====================
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/auth_db
SPRING_DATASOURCE_USERNAME=auth_user
SPRING_DATASOURCE_PASSWORD=auth_password
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://localhost:8761/eureka/

# ==================== TASK SERVICE ====================
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/task_db
SPRING_DATASOURCE_USERNAME=task_user
SPRING_DATASOURCE_PASSWORD=task_password
SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379
SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# ==================== NOTIFICATION SERVICE ====================
SPRING_DATA_MONGODB_URI=mongodb://localhost:27017/notification_db
SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# ==================== JWT ====================
JWT_SECRET=5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437
JWT_EXPIRATION=86400000
